<html>
  <head>
    <title>Survey</title>
    <script type="text/javascript" src="/javascripts/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/app/survey.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
  </head>
  <body ng-app="SurveyApp">
    <div ng-controller="SurveyController" class="container-fluid">
      <h2>Survey</h2>
      <div>
        <h3>{{activeQuestion.title}}</h3>
        <div ng-if="activeQuestion.type == 'text'">
          <form>
            <div ng-repeat="item in activeQuestion.items">
              <label>{{item.label}}</label>
              <input type="text" ng-model="item.text"/>
            </div>
            <div ng-if="activeQuestion.other">
              <input type="text" placeholder="Other" ng-model="item.otherValue"/>
            </div>
          </form>
        </div>
        <div ng-if="activeQuestion.type == 'textarea'">
          <form>
            <textarea ng-model="activeQuestion.value"></textarea>
          </form>
        </div>
        <div ng-if="activeQuestion.type == 'checkbox'">
          <form>
            <div ng-repeat="item in activeQuestion.items">
              <input type="checkbox" ng-model="item.selected" ng-value="item.val"/>
              <label>{{item.label}}</label>
            </div>
            <div ng-if="activeQuestion.other">
              <input type="checkbox" ng-model="activeQuestion.otherSelected" ng-value="item.val"/>
              <input type="text" placeholder="Other" ng-model="activeQuestion.otherValue" ng-change="activeQuestion.otherChanged()"/>
            </div>
          </form>
        </div>
        <div ng-if="activeQuestion.type == 'radio'">
          <form>
            <div ng-repeat="item in activeQuestion.items">
              <input type="radio" ng-model="activeQuestion.value" ng-value="item.val"/>
              <label>{{item.label}}</label>
            </div>
            <div ng-if="activeQuestion.other">
              <input type="radio" ng-model="activeQuestion.value" value="other"/>
              <input type="text" placeholder="Other" ng-model="activeQuestion.otherValue"/>
            </div>
          </form>
        </div>
        <div>
          <button class="btn" ng-click="prev()" ng-disabled="activeIndex == 0">< Previous</button>
          <button class="btn" ng-click="next()" ng-disabled="!questionComplete()" ng-show="!lastQuestion()">Next ></button>
          <button class="btn btn-success" ng-disabled="!questionComplete()" ng-show="lastQuestion()">Complete</button>
        </div>
      </div>
    </div>
  </body>
</html>
