<html>
  <head>
    <title>Customer Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="/javascripts/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/app/survey.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body ng-app="SurveyApp" ng-controller="SurveyController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">
            <span class="navbar-title">{{title}}</span>
            <span class="navbar-subtitle">{{subtitle}}</span>
        </div>
      </div>
    </nav>
    <div class="page-content">
      <div class="container-fluid survey-panel">
        <form class="form-horizontal" ng-hide="complete">
          <div class="form-group">
            <div class="col-sm-12">
              <h3>{{activeQuestion.title}}</h3>
            </div>
          </div>
          <div ng-if="activeQuestion.type == 'text'">
              <div class="form-group" ng-repeat="item in activeQuestion.items">
                <label class="col-sm-4 control-label">{{item.label}}</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="item.value"/>
                </div>
              </div>
              <div class="form-group" ng-if="activeQuestion.other">
                <div class="col-sm-12">
                  <input type="text" placeholder="Other" ng-model="item.otherValue"/>
                </div>
              </div>
          </div>
          <div class="form-group" ng-if="activeQuestion.type == 'textarea'">
              <textarea ng-model="activeQuestion.value"></textarea>
          </div>
          <div ng-if="activeQuestion.type == 'checkbox'">
              <div class="form-group" ng-repeat="item in activeQuestion.items">
                <label>
                  <input type="checkbox" ng-model="item.selected" ng-value="item.value"/>
                  {{item.label}}
                </label>
              </div>
              <div class="form-group" ng-if="activeQuestion.other">
                <input type="checkbox" ng-model="activeQuestion.otherSelected" ng-value="item.value"/>
                <input type="text" class="other" placeholder="Other" ng-model="activeQuestion.otherValue" ng-change="activeQuestion.otherChanged()"/>
              </div>
          </div>
          <div ng-if="activeQuestion.type == 'radio'">
              <div class="form-group" ng-repeat="item in activeQuestion.items">
                <label>
                  <input type="radio" ng-model="activeQuestion.value" ng-value="item.value"/>
                  {{item.label}}
                </label>
              </div>
              <div class="form-group" ng-if="activeQuestion.other">
                <input type="radio" ng-model="activeQuestion.value" value="other"/>
                <input type="text" class="other" placeholder="Other" ng-model="activeQuestion.otherValue"/>
              </div>
          </div>
        </form>
        <div ng-hide="complete">
          <button class="btn" ng-click="prev()" ng-disabled="activeIndex == 0">< Previous</button>
          <span class="right-buttons">
            <button class="btn" ng-click="next()" ng-disabled="!questionComplete()" ng-show="!lastQuestion()">Next ></button>
            <button class="btn btn-success" ng-click="submit()" ng-disabled="!questionComplete()" ng-show="lastQuestion()">Complete</button>
          </span>
        </div>
        <div ng-show="complete">
          <div class="farewell"><h3>{{farewell}}</h3></div>
          <div class="farewell-subhead"><h4>{{farewellSubhead}}</h4></div>
          <div class="website">
            <a href="{{url}}">Visit our website</a>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; Harvest Survey 2017 </span>
      </div>
    </footer>
  </body>
</html>
